<div class="skelton-loading">
    <div class="tableWrapper">
        <table class="table">
            <thead>
                <tr>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                </tr>
                <tr>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                </tr>
                <tr>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                </tr>
                <tr>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                </tr>
                <tr>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                </tr>
                <tr>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                    <td class="loading">
                        <div class="bar"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>