<div class="add-customer">
    <form class="form-group" [formGroup]="customerForm">
      <div class="row p-2">
        <div class="col-xs-12 col-sm-4 col-xl-4">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" formControlName="first_name" placeholder="First Name">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-xl-4">
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" formControlName="last_name" placeholder="Last Name">
          </div>
        </div>
          <div class="col-xs-12 col-sm-4 col-xl-4">
          <div class="form-group">
            <label for="id_card_number">Contact Number</label>
            <input type="number" class="form-control " id="contact_mobile" formControlName="contact_mobile" placeholder="Contact Number" >
          </div>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-xs-12 col-sm-4 col-xl-4">
          <div class="form-group">
            <label for="license_card_number">License Number</label>
            <input type="text" class="form-control " id="license_card_number" formControlName="license_card_number" placeholder="License Number" >
            <div class="pt-2" >
              <label class="btn btn-primary form-control-file" for="license_card_image">License Number</label>
              <input type="file" (change)="onFileChange($event,'license_card_image')" id="license_card_image"  placeholder="license_card_image"  class="form-control-file d-none" required>
            </div>
          </div>
          
        </div>
        <div class="col-xs-12 col-sm-4 col-xl-4">
          <div class="form-group">
            <label for="id_card_number">ID Number</label>
            <input type="text" class="form-control " id="id_card_number" formControlName="id_card_number" placeholder="ID Number" >
            <div class="pt-2">
              <label class="btn btn-primary form-control-file" for="id_card_image">ID Card</label>
              <input  (change)="onFileChange($event,'id_card_image')" type="file" id="id_card_image" placeholder="id_card_image" class="form-control-file d-none" required>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-xl-4" >
          <div class="form-group">
            <!-- <label for="utility_bill_image">Utility Bill</label> -->
            <div class="pt-2">
              <label class="btn btn-primary form-control-file" for="utility_bill_image">Utility Bill</label>
              <input type="file" (change)="onFileChange($event,'utility_bill_image')" id="utility_bill_image" placeholder="utility_bill_image"  class="form-control-file d-none" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-xs-12 col-sm-12 col-xl-12 text-center" style="    display: flex;
        justify-content: space-evenly;">
          <button *ngIf="customer == undefined" (click)="onFormSubmit()" type="submit" class="btn btn-success btn-sm btn-block">Add Customer</button>
          <button *ngIf="customer" (click)="onFormSubmit()" class="btn btn-warning btn-sm btn-block">Save Customer</button>
          <button *ngIf="customer" (click)="clearForm()" class="btn btn-danger btn-sm btn-block">Clear</button>
        </div>
      </div>
    </form> 
</div>


  
