<div class="view-vehicle">
  <app-add-vehicle (clearVehicleEvent)="clearVehicle($event)"></app-add-vehicle>
  <app-skelton-loading *ngIf="!vehicle"></app-skelton-loading>

  <form class="form-group" [formGroup]="vehiclePriceRangeForm">
    <div class="row p-2">
      <div class="col-xs-12 col-sm-4 col-xl-4">
        <div class="form-group">
          <label for="vehicleOwner">Vehicle</label>
          <!-- <input type="number" class="form-control " id="contact_mobile" formControlName="contact_mobile" placeholder="Contact Number" > -->
          <input type="text" placeholder="Search for a street" [formControl]="selectVehicles"
            [matAutocomplete]="matAutocompleteVehicleOwner" class="form-control">
          <mat-autocomplete #matAutocompleteVehicleOwner="matAutocomplete">
            <mat-option *ngFor="let owner of filteredVehicles | async" [value]="owner.vehicle_id">
              {{owner.brand+' '+owner.number_plate }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-xl-4">
        <div class="form-group">
          <label for="name">Tag</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-xl-4">
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" formControlName="amount"
            placeholder="Amount">
        </div>
      </div>
    </div>
  
  
    <div class="row p-2">
      <div class="col-xs-12 col-sm-12 col-xl-12 text-center" style="display: flex;justify-content: space-evenly;">
        <button (click)="setPrice()" type="submit"
          class="btn btn-success btn-sm btn-block">Add Vehicle</button>
        <button  (click)="clearPayForm()" class="btn btn-danger btn-sm btn-block">Clear</button>
      </div>
    </div>
  </form>

  <table *ngIf="vehicle" id="customer_list" class="display row-border" style="color: black;" datatable
    [dtOptions]="dtOptions">
    <thead>
      <tr class="th-center">
        <th>#</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Number Plate</th>
        <th>Transmission</th>
        <th>Mileage</th>
        <th>Insurance</th>
        <th class="text-center">Extra</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vehicle;index as i">
        <td>{{i+1}}</td>
        <td>{{item.brand+" "+item.name}}</td>
        <td>{{item.brand}}</td>
        <td>{{item.number_plate}}</td>
        <td>{{item.gear_type}}</td>
        <td>{{item.mileage}} L/Kms</td>
        <td>{{item.insurance_type}}</td>
        <td class="btn-menu d-flex justify-content-between">
          <span *ngIf="item.owner" class="material-icons text-success"
            (click)="getSingleVehicleOwner(item.owner.owner_id)">
            manage_accounts
          </span>
          <span *ngIf="item.location.location_id" class="material-icons text-success"
            (click)="getSingleVehicleLocation(item.location.location_id)">
            share_location
          </span>
        </td>
        <td>{{item.created_at | date}}</td>
        <td class="d-flex justify-content-between btn-menu">
          <span class="material-icons text-success">
            visibility
          </span>
          <span class="material-icons text-primary" (click)="selectVehicle(item)">
            edit
          </span>
          <span class="material-icons text-danger" (click)="deleteVehicle(item.vehicle_id)">
            delete
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>