mat-progress-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.loading-container{
    background-color: rgba(131, 130, 130, 0.356);
    z-index: 99;
    height: 100%;
    width: 100%;
    position: absolute;top: 0%;
}

.cdk-overlay-pane{
    overflow: auto !important; 
}