<div class="app-sidebar">
    <div class="logo" style="width: 200px;">
        <img src="assets/images/logo.png" alt="" srcset="">
    </div>
    <mat-divider></mat-divider>
    <div class="nav-menu">
        <mat-list>
            <a [routerLink]="['dashboard']">
                <mat-list-item>Dashboard</mat-list-item>
            </a>
            <a [routerLink]="['customer']">
                <mat-list-item>Customer</mat-list-item>
            </a>
            <a [routerLink]="['vehicle']">
                <mat-list-item>Vehicles</mat-list-item>
            </a>
            <a [routerLink]="['orders']">
                <mat-list-item>Orders</mat-list-item>
            </a>
            <a [routerLink]="['vehicle-subscription-payments']">
                <mat-list-item>Vehicle Payments</mat-list-item>
            </a>
        </mat-list>
    </div>
</div>