<div class="app-sidebar">
    <div class="logo" style="width: 200px;">
        <img src="assets/images/logo.png" alt="" srcset="">
    </div>
    <mat-divider></mat-divider>
    <div class="nav-menu">
        <mat-list>
            <a *ngIf="_common.checkPermission('dashboard')" [routerLink]="['dashboard']">
                <mat-list-item>Dashboard</mat-list-item>
            </a>
            <a *ngIf="_common.checkPermission('customer')" [routerLink]="['customer']">
                <mat-list-item>Customer</mat-list-item>
            </a>
            <a *ngIf="_common.checkPermission('vehicles')" [routerLink]="['vehicle']">
                <mat-list-item>Vehicles</mat-list-item>
            </a>
            <a *ngIf="_common.checkPermission('orders')" [routerLink]="['orders']">
                <mat-list-item>Orders</mat-list-item>
            </a>
            <a *ngIf="_common.checkPermission('payments')" [routerLink]="['vehicle-subscription-payments']">
                <mat-list-item>Payments</mat-list-item>
            </a>
            <a *ngIf="_common.checkPermission('packages')" [routerLink]="['vehicle-subscription']">
                <mat-list-item>Packages</mat-list-item>
            </a>
            <a *ngIf="_common.checkPermission('users')" [routerLink]="['users']">
                <mat-list-item>Users</mat-list-item>
            </a>
            <!-- <a [routerLink]="['users']">
                <mat-list-item>Users</mat-list-item>
            </a> -->
        </mat-list>
    </div>
</div>