<div class="order">
    <form class="form-group" [formGroup]="orderForm">
        <div class="row p-2">
            <div class="col-xs-12 col-sm-6 col-xl-6">
                <div class="form-group">
                    <label for="customerControl">Customer</label>
                    <input type="text" placeholder="Search for a customer" id="customerControl"
                        [formControl]="customerControl" [matAutocomplete]="matAutocompleteCustomer" class="form-control"
                        formControlName="customer_id">
                    <mat-autocomplete #matAutocompleteCustomer="matAutocomplete"
                        (optionSelected)="selectOption($event,'C')">
                        <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer.customer_id">
                            {{customer.first_name+' '+customer.last_name}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-xl-6">
                <div class="form-group">
                    <label for="vehicle_id">Vehicle</label>
                    <input type="text" placeholder="Search for a vehicle" id="vehicleControl"
                        [formControl]="customerControl" [matAutocomplete]="matAutocompleteVehicle" class="form-control"
                        formControlName="vehicle_id">
                    <mat-autocomplete #matAutocompleteVehicle="matAutocomplete"
                        (optionSelected)="selectOption($event,'V')">
                        <mat-option *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle.vehicle_id">
                            {{vehicle.brand+" "+vehicle.name+" "+vehicle.number_plate}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
        </div>
        <div class=" row p-2">
            <div class="col-xs-12 col-sm-4 col-xl-4">
                <div class="form-group">
                    <label for="order_date">Order Date</label>
                    <input type="date" class="form-control " id="order_date" formControlName="order_date"
                        placeholder="Order Date"
                        value="{{selectedOrder ? (selectedOrder.order_date| date:'yyyy-MM-dd') : '' }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-xl-4">
                <div class="form-group">
                    <label for="rent_start_time">Start Date</label>
                    <input type="date" class="form-control " id="rent_start_time" formControlName="rent_start_time"
                        placeholder="Start Date"
                        value="{{selectedOrder ? (selectedOrder.rent_start_time| date:'yyyy-MM-dd') : '' }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-xl-4">
                <div class="form-group">
                    <label for="rent_end_time">End Date</label>
                    <input type="date" class="form-control " id="rent_end_time" formControlName="rent_end_time"
                        placeholder="End Date"
                        value="{{selectedOrder ? (selectedOrder.rent_end_time | date:'yyyy-MM-dd') : '' }}">
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-xs-12 col-sm-12 col-xl-12 text-center" style="    display: flex;
          justify-content: space-evenly;">
                <button *ngIf="selectedOrder==undefined" (click)="onFormSubmit()" type="submit"
                    class="btn btn-success btn-sm btn-block">Add
                    Order</button>
                <button *ngIf="selectedOrder" (click)="onFormSubmit()" class="btn btn-warning btn-sm btn-block">Save
                    Order</button>
                <button *ngIf="selectedOrder" (click)="clearForm()"
                    class="btn btn-danger btn-sm btn-block">Clear</button>
            </div>
        </div>
    </form>
    <app-skelton-loading *ngIf="!orders"></app-skelton-loading>
    <table *ngIf="orders" id="customer_list" class="display row-border" style="color: black;" datatable
        [dtOptions]="dtOptions">
        <thead>
            <tr class="th-center">
                <th>#</th>
                <th>Customer</th>
                <th>Vehicle</th>
                <th>Number Plate</th>
                <th>Order On</th>
                <th>Start</th>
                <th>End</th>
                <th class="text-center">Extra</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of orders;index as i">
                <td>{{i+1}}</td>
                <td>{{item.customer.first_name+" "+item.customer.last_name}}</td>
                <td>{{item.vehicle.brand+" "+item.vehicle.name}}</td>
                <td>{{item.vehicle.number_plate}}</td>
                <td>{{item.order_date | date}}</td>
                <td>{{item.rent_start_time | date}}</td>
                <td>{{item.rent_end_time | date}}</td>
                <td class="btn-menu d-flex justify-content-between">
                    <span *ngIf="item.customer" class="material-icons text-warning" (click)="openProfileDialog(item)">
                        car_rental
                    </span>
                    <span *ngIf="item.vehicle" class="material-icons text-warning" (click)="openCustomerProfile(item)">
                        person
                    </span>
                </td>
                <td [className]="item.is_completed ? 'text-success' : 'text-danger'">{{item.is_completed ? "Completed"
                    : "Pending"}}</td>
                <td class="d-flex justify-content-between btn-menu">
                    <span class="material-icons text-success">
                        visibility
                    </span>
                    <span class="material-icons text-primary" (click)="selectOrder(item)">
                        edit
                    </span>
                    <span class="material-icons text-danger" (click)="deleteOrder(item)">
                        delete
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>